.App {
  text-align: center;
}

.btnConsole{
    color: whitesmoke;
    background-color: crimson;
    font-size: larger;
    border: crimson;
    font-weight: bold;
    height: 30px;
    cursor: pointer;
    border-radius: 5%;
}
